# Real-Time Do File For Regression Final

In [24]:
import stata_setup
stata_setup.config("D:/STATA17", "mp")

## 2022.03.24 Data Cleaning

In [ ]:
%%stata
clear all
global datadir "E:\NYU Master\Semester 2\PADM-GP 2902 Regression and intro to economtrics\Final Project"
global logdir "E:\NYU Master\Semester 2\PADM-GP 2902 Regression and intro to economtrics\Final Project"
cd "$datadir" 
use "$datadir\country dataset with 2010 version 13 _3_.dta"

In [25]:
%%stata
codebook frtl_rte lifeexp
// Overview of the Variables

. codebook frtl_rte lifeexp

-------------------------------------------------------------------------------
frtl_rte                               Fertility rate, total (births per woman)
-------------------------------------------------------------------------------

                  Type: Numeric (float)

                 Range: [.939,8.667]                  Units: .0001
         Unique values: 461                       Missing .: 13/531

                  Mean: 3.36512
             Std. dev.:  1.7383

           Percentiles:     10%       25%       50%       75%       90%
                            1.5     1.902     2.813      4.72     6.071

-------------------------------------------------------------------------------
lifeexp                                                         Life expectancy
-------------------------------------------------------------------------------

                  Type: Numeric (float)

                 Range: [32.611561,82.97805]          Units: 1.000e-06
         Unique values: 517                       Missing .: 12/531

                  Mean: 67.1537
             Std. dev.: 10.1299

           Percentiles:     10%       25%       50%       75%       90%
                        50.6542   60.6043   70.0767   74.7413    78.146

. // Overview of the Variables
.

In [31]:
%%stata
sum frtl_rte
return list
replace frtl_rte = r(mean) if frtl_rte==.

. sum frtl_rte

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
    frtl_rte |        531    3.365119    1.716845       .939      8.667

. return list

scalars:
                  r(N) =  531
              r(sum_w) =  531
               r(mean) =  3.365118922262317
                r(Var) =  2.947556780599
                 r(sd) =  1.716845007739196
                r(min) =  .9390000104904175
                r(max) =  8.666999816894531
                r(sum) =  1786.878147721291

. replace frtl_rte = r(mean) if frtl_rte==.
(0 real changes made)

.

In [32]:
%%stata
sum lifeexp
return list
replace lifeexp = r(mean) if lifeexp==.

. sum lifeexp

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
     lifeexp |        519    67.15366    10.12991   32.61156   82.97805

. return list

scalars:
                  r(N) =  519
              r(sum_w) =  519
               r(mean) =  67.15365899734644
                r(Var) =  102.6149784431765
                 r(sd) =  10.12990515469797
                r(min) =  32.6115608215332
                r(max) =  82.97805023193359
                r(sum) =  34852.7490196228

. replace lifeexp = r(mean) if lifeexp==.
(12 real changes made)

.